*{
  box-sizing: border-box;
}
body{
  background-color: #282c34;
  font-size: 16px;
  color: white;
  height: auto;
}


.box{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20%;
  left: 50%;
  width: 40%;
  padding: 1em;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.box h2{
  text-align: center;
  margin: 0;
  padding: .5em;
}

table{
  /* position: relative; */
  /* top: 100%; */
  margin-top: 35em;
  margin-bottom: 2em;
  width: 100%;
}
table ,th,td{
  border: 1px solid white;
  border-collapse: collapse;
}
th,td{
  margin: 0 auto;
  padding: 1em;
}
input, select{
  margin-top: 1em;
  margin-left: 1em;
}
label{
  padding-left: 6em;  
}
label button{
  position: relative;
  display: inline-block;
  font-weight: bold;
  margin-top:2em; 
  margin-left: 10em;
}
img{
  width: 3em;
  height: auto;
}

.datarender{
  max-width: 70%;
  margin: 1em auto;
}

@media (min-width:1000px){
  .box{
    top:45%
  }
}

@media (min-width:1400px){
  .box{
    top:30%;
    width:30%
  }
}

